PORT=3000
DATABASE_URL=postgresql://postgres:password@localhost:5432/colabcode
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REFRESH_TOKEN_G=
GOOGLE_USER=your@gmail.com
REDIS_URL=redis://localhost:6379
CLIENT_URL=http://localhost:5173